@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$setting-box-width: 150px;
:root {
  --main-color: #f44336;
  --dark-color: #616161;
  --font-family: "Open Sans", sans-serif;
  --font-size: 1em;
}

$main-color: var(--main-color);
$dark-color: var(--dark-color);

.landing-page {
  min-height: 100vh;
  background-size: cover;
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #ffffff;
  display: flex;
  padding: 10px;
  .logo {
    padding: 15px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: $main-color;
  }
  ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0;
    padding-right: 10px;
    font-size: 15px;
  }

  ul li {
    display: inline-block;
    margin-left: 10px;
  }
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover,
.active {
  color: $main-color;
  font-weight: bold;
}
.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 80%;
  h1 {
    font-size: 2em;
    margin: 0 0 12px;
  }
  h1 span {
    color: $main-color;
  }
  p {
    line-height: 1.6;
    font-size: 1.2em;
    margin: 0;
  }
}

.setting-box {
  font-family: "Open Sans", sans-serif;

  position: fixed;
  left: -$setting-box-width;
  top: 0;
  width: $setting-box-width;
  z-index: 1000;
  min-height: 100vh;
  background-color: #fff;
  transition: 0.3s;

  &.opened {
    left: 0;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }
  .container {
    color: $dark-color;
    padding: 10px;
    text-align: center;
    p {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .toggle {
    position: absolute;
    right: 0;
    top: 250px;
    background-color: #fff;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    right: -30px;
    cursor: pointer;
    color: $dark-color;
  }

  .option {
    overflow: auto;
    padding: 20px 0;
    background: #f3f3f3;
    margin-bottom: 0.5em;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      color: #ffffff;
      border: 1px solid #fff;
      margin: 5px;
      width: 20px;
      height: 20px;
      float: left;
      border-radius: 5px;
      opacity: 0.5;
      &.active {
        border: 1px solid #333333;
        opacity: 1;
      }
    }
  }
  .slow {
    background: green;
  }
  .fast {
    background: red;
  }
}
